@page "/systeminfos"

<PageTitle>系统信息</PageTitle>
<h1>系统信息</h1>
<p>Platform:@Environment.OSVersion.Platform</p>
<p>OSVersion:@Environment.OSVersion.VersionString</p>
<p>ProcessorCount:@Environment.ProcessorCount</p>
<p>SystemPageSize:@Environment.SystemPageSize</p>
<p>Version:.Net @Environment.Version.ToString()</p>